{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
              <ol class="post-list">
                 <!-- <lh><h2><span class="bb">{{ page.title }}</span></h2></lh> -->
                  {% for post in site.posts %}
                  <li>
                    <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                        <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></p>
                        <p class="">{% if post.image.feature %}<img  class="thumbnail" src="{{ site.url }}/images/{{ post.image.feature }}"><br>{% endif %}
                          {% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}<br><a class="more" href="{{ site.url }}{{ post.url }}" data-dnt="true">Read More</a></p>
                    </div>
                  </li>
                  {% endfor %}
              </ol>
              <div id="mc_embed_signup">
        <form action="http://wordit.us4.list-manage.com/subscribe/post?u=3bc400c69874a5f5dce5bfbe2&amp;id=0d270018a3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h2>Newsletter</h2>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_3bc400c69874a5f5dce5bfbe2_0d270018a3" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
      </div>
          </article>
        </section>
    </div>

{% include footer.html %}